# python / env
.venv/
__pycache__/
*.pyc

# db
db/app.db
db/*.db-shm
db/*.db-wal
db/*.sqlite
db/*.sqlite3

# compile
processing_cpp/build_tmp

# IDE
.idea/
*.iml

# models
models/*

# notebooks
*.ipynb_checkpoints/

# OS
.DS_Store

temp_output/